html{
    margin: none;
    height: 100%;
}

body{
    margin: none;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.main{
    display: flex;
}

.place{
    display: flex;
    flex-direction: column;
}

.cityTemp{
    padding: 10px;
}

.cityName{
    font-size: 42px;
    padding: 10px;
}

.countryName{
    padding: 10px;
}
