@font-face {
    font-family: 'alarm';
    src: url('./assets/alarm_clock.ttf');
    
    font-family: 'bitter';
    src: url('./assets/Bitter_Regular.ttf');
}


html{
    margin: none;
    height: 100%;
    overflow: hidden;
    font-family: bitter;
}

body{
    margin: 0;
    border: none;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.webgl{
    position: absolute;
    z-index: -1;
}

.main{
    position: relative;
    display: flex;
    flex-direction: column;
    right: 25%;
    transition: opacity 1s;
}

.place{
    display: flex;
    flex-direction: column;
}

.main{
    /* background-color: #826539; */
    box-shadow: 10px 9px 21px -6px rgba(0,0,0,0.43);
    border-radius: 9px 9px 9px 9px;
    padding: 15px;
}

.cityTemp{
    font-size: 54px;
    font-family: alarm;
    color: aliceblue
}

.cityName{
    font-family: bitter;
    font-size: 64px;
    padding: 10px;
    color: aliceblue;
}

.countryName{
    padding: 10px;
    color: aliceblue;

}
